body, html{
  height: 100%:
}
.block{
    margin: auto;
    width: fit-content;
    padding-top: 180px;
}
.search-box{
  padding-right: 200px;
}
.search-button{
  margin-left: 200px !important;
}
.result-button{
  display: flex;
  margin: 0 auto;


}
.body-with-bg{
  background: url("../images/homepage.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.username{
  padding-right: 100px;
  margin-right: 10px;
}
.password{
  margin-right: 10px;

}
.person-bar{
  width: 75% !important;
}
.map{
  width: 450px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.new_div{
  padding-top: 5px;

}
.user_box {
  padding-right: 60px;
}
.logo{
  font-family: 'Bungee', cursive;
  color: white ;
  font-size: 2em;
}
.address-box{
  width: 75% !important;
  margin-top: 5px;
}
.result-logo{

  width: 150px;
  height: auto;
  text-align: right;
  margin-left: 390px;
}
.infomation{
  color: white;
  text-align: right;
  font-size: 1.5em;
}
.result-img{
  width: 500px;
  height: 280px;
  margin-left: 40px;
}

#carousel-btn {
  margin-bottom: 10px;
}

.anh1{
  /* background: url("../images/bg1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #343A40;
}
.anh2{
  /* background: url("../images/bg2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #343A40;
}

.text{
  text-decoration: none;
  color: white !important ;
}
.place{
  margin-bottom: 5px;

}
.result-box{
  border: 1px white solid;
  margin: 70px 0;
  padding-right: 10px;
}

.no-underline {
  text-decoration: none !important;
}
